<link rel="import" href="../../polymer/polymer.html">

<dom-module id="card-component">
	<template>
		<template is="dom-if" if="{{selected}}">
			<style>
				.card-selected {
					border-radius: 5px;
					height: 380px;
					width: 260px;
					float: left;
					margin: 20px;
					cursor: pointer;
					border: 1px solid #333;
					background: url("../../img/card.png") no-repeat;
					background-position: center;
					background-size: contain;
				}
			</style>
			<div class="card-selected"></div>
		</template>
		<template is="dom-if" if="{{!selected}}">
			<style>
				.card {
					border-radius: 5px;
					height: 380px;
					width: 260px;
					float: left;
					border: 1px solid #333;
					background: var(--card-component-highlighted, #333);
					margin: 20px;
					cursor: pointer;
					background-position: center;
					background-size: contain;
				}
			</style>
			<div class="card" on-click="onCardClick"></div>
		</template></template>
	<script>
		class CardComponent extends Polymer.Element {
			static get is() {
				return "card-component"
			}

			static get properties() {
				return {
					selected: {
						type: Boolean,
						value: false
					}
				}
			}

			onCardClick(e) {
				this.highlight();
				setTimeout(() => {
					this.unHighlight();
				}, 1000)
			}

			highlight() {
				this.updateStyles({
					'--card-component-highlighted': 'url(../../img/sadface.jpg) no-repeat',
				});
			}
			unHighlight() {
				this.updateStyles({
					'--card-component-highlighted': '#333',
				});
			}
		}
		customElements.define(CardComponent.is, CardComponent);
	</script>
</dom-module>
