<link rel="import" href="../../polymer/polymer.html">

<dom-module id="card-component">
	<template>
		<style>
			.card {
				border-radius: 5px;
				height: 380px;
				width: 260px;
				float: left;
				background: var(--card-component-highlighted, #333);
				margin: 20px;
				cursor: pointer;
			}
		</style>
		<div class="card" on-click="onCardClick"></div>
	</template>
	<script>
		class CardComponent extends Polymer.Element {
			static get is() {
				return "card-component"
			}

			onCardClick(e) {
				this.highlight();
				let self = this;
				setTimeout(function() {
					self.unHighlight();
				}, 1000)
			}

			highlight() {
				this.updateStyles({
					'--card-component-highlighted': '#ccc',
				});
			}

			unHighlight() {
				this.updateStyles({
					'--card-component-highlighted': '#333',
				});
			}
		}
		customElements.define(CardComponent.is, CardComponent);
	</script>
</dom-module>
