<link rel="import" href="../../polymer/polymer.html">

<dom-module id="card-component">
	<template>
		<template is="dom-if" if="{{selected}}">
			<style>
				.card-selected {
					border-radius: 5px;
					height: 380px;
					width: 260px;
					float: left;
					margin: 20px;
					cursor: pointer;
					background: #007f00;
				}
			</style>
			<div class="card-selected"></div>
		</template>
		<template is="dom-if" if="{{!selected}}">
			<style>
				.card {
					border-radius: 5px;
					height: 380px;
					width: 260px;
					float: left;
					background: #333;
					margin: 20px;
					cursor: pointer;
				}
			</style>
			<div class="card"></div>
		</template></template>
	<script>
		class CardComponent extends Polymer.Element {
			static get is() {
				return "card-component"
			}

			static get properties() {
				return {
					selected: {
						type: Boolean,
						value: false
					}
				}
			}
		}
		customElements.define(CardComponent.is, CardComponent);
	</script>
</dom-module>
