<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="./card.html">

<dom-module id="root-component">
	<template>
		<style>
			.wrapper {
				text-align: center;
			}
			.inner {
				display: inline-block;
				margin-top: 100px;
			}
		</style>
		<div class="wrapper">
			<div class="inner">
				<card-component selected="[[card1]]" data-index="1" on-click="onCardClick"></card-component>
				<card-component selected="[[card2]]" data-index="2" on-click="onCardClick"></card-component>
				<card-component selected="[[card3]]" data-index="3" on-click="onCardClick"></card-component>
			</div>
			<h3>{{message}}</h3>
		</div>
	</template>
	<script>
		class RootComponent extends Polymer.Element {
			static get is() {
				return "root-component"
			}

			static get properties() {
				return {
					message: {
						type: String,
						value: ''
					},
					card1: {
						type: Boolean,
						value: false
					},
					card2: {
						type: Boolean,
						value: false
					},
					card3: {
						type: Boolean,
						value: false
					},
				}
			}

			onCardClick(e) {
				this.playGame(e.target.dataset.index);
			}

			updateCardValues(currentValue) {
				if(currentValue === 1) {
					this.card1 = true;
					this.card2 = false;
					this.card3 = false;
				}
				else if(currentValue === 2) {
					this.card2 = true;
					this.card1 = false;
					this.card3 = false;
				}
				else if(currentValue === 3) {
					this.card3 = true;
					this.card1 = false;
					this.card2 = false;
				}
			}

			playGame(index) {
				let currentValue = this.getRandomInt(1, 3);
				this.updateCardValues(currentValue);
				if(parseInt(index) === parseInt(currentValue)) {
					this.message = "You Won!";
				} else {
					this.message = `Guessing is not your game.`;
				}
				this.clearAll();
			}

			clearAll() {
				setTimeout(() => {
					this.clearMessage();
					this.resetCardValues();
				}, 1500)
			}

			clearMessage() {
				this.message = '';
			}

			resetCardValues() {
				this.card1 = false;
				this.card2 = false;
				this.card3 = false;
			}

			getRandomInt(min, max) {
				return Math.floor(Math.random() * (max - min + 1)) + min;
			}
		}
		customElements.define(RootComponent.is, RootComponent);
	</script>
</dom-module>
